@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&family=Poppins:wght@300;400;700;900&display=swap");

html {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 18px;
}
body {
  letter-spacing: -0.05em;
  overflow-x: hidden;
}
p {
  line-height: 1.4;
}

/* MAIN-CONTAINER */
.main-container {
  overflow-x: hidden;
}

/* HEADER */
/* NAV */
.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding-top: 20px;
  background-color: #fff;
  height: 75px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 50px 0px 50px;
}
.header-menu a {
  text-decoration: none;
  color: #303030;
}
.header-wrap img {
  width: 200px;
}
/* nav {
  display: block;
}
.header-menu-links {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 400;
}
.header-menu-links > a {
  color: #303030;
}
/* .header-menu-links a:hover {
  color: #FBAF42;
} */
/* .header-menu-links a:last-child {
  margin-left: 60px;
} */
*/

/* NAV */
/* NAV */
nav,.navbar-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  position: fixed;
  right: 0;
  z-index: 20;
  background-color: #f8af44;
  width: 15%;
  height: 100%;
  text-align: right;
  color: #fff;
  padding-right: 47px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.nav-hide {
  display: none;
}
.user-info-section {
  float: right;
  background-color: #fff;
  width: 80%;
  height: 80px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10vh auto 5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303030;
}
.user-info-desc {
  font-weight: 600;
  color: #f8af44;
}
.user-info-desc span {
  font-size: 0.8rem;
  color: #303030;
}
nav ul {
  clear: both;
}

nav ul li {
  list-style: none;
  margin-bottom: 10px;
}
nav ul li:first-child {
  margin-top: 50px;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #303030;
}
nav img {
  width: 150px;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.navbar-toggle {
  position: fixed;
  top: 35px;
  right: 40px;
  width: 30px;
  height: 45px;
  z-index: 100;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  z-index: 1000;
  width: 100%;
  height: 3px;
  margin-bottom: 6px;
  background-color: #303030;
  transition: all 0.3s ease-in-out;
}

.navbar-on .bar1,
.navbar-on .bar2,
.navbar-on .bar3 {
  z-index: 9999;
  background-color: #ffffff;
}

.navbar-on .bar1 {
  z-index: 9999;
  transform-origin: 10% 40%;
  transform: rotate(45deg);
}

.navbar-on .bar3 {
  z-index: 9999;
  transform-origin: 10% 40%;
  transform: rotate(-45deg);
}

.navbar-on .bar2 {
  background-color: transparent;
}

/* COVER-CONTAINER */
.banner-slide {
  position: relative;
}
.banner-wrap {
  margin-top: 75px;
  width: 100%;
  height: 450px;
  background-image: url("../images/banner_1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-wrap h1 {
  /* margin-left: 210px; */
  color: #fff;
  text-shadow: 0px 0px 10px #7e7e7e;
}

/* TEST-CONTAINER */

.test-container {
  width: 1320px;
  margin: 100px auto;
  text-align: center;
}
.webinar-img img {
  width: 50em;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 200px;
  background-color: #f8af44;
  display: flex;
  color: #fff;
  align-items: center;
  padding: 0 100px;
}
.footer-logo-area img {
  width: 186px;
}
.footer-copyright {
  margin-top: 20px;
  font-size: 0.8rem;
}
.footer-desc-area > ul {
  display: flex;
}
.footer-desc-area > ul a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}
.footer-desc-area > ul > li {
  margin-left: 30px;
}

/* 반응형 */

/* 1025 to 1540 LAPTOP */
@media (min-width: 1025px) and (max-width: 1540px) {
}
/* 768 to 1024 TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
}
/* 0 to 767px MOBILE */
@media (max-width: 768px) {
}
